.blur-bg {
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background: center center no-repeat;
	background-size:cover;
	filter: blur(10px);
}

.reveal .slides section.present {
	
}

.reveal h1 {
  font-size : 70px;
  font-family: 'Josefin Sans', sans-serif;
  hyphens: auto

}


.reveal p {
	font-size: 20px;
	font-family: 'Roboto';
}


.reveal .plus {
	margin-top:20vh;
	text-align: center;
	width: 100%;
}

.reveal h1 {
	color: black;
}

.reveal h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-color: black;
}

.reveal #intro {
	font-size: 30px;
}

.fragment.fade-in {
	margin-right : 20px;
	margin-left : 20px;
	font-size: 20px;
}