.blur-bg {
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background: center center no-repeat;
	background-size:cover;
	filter: blur(10px);
}

.reveal {
	font-family: 'Roboto', sans-serif;
}

.reveal .slides {
	font-family: 'Roboto', sans-serif;
}

.reveal h1 {
  font-size : 70px;
  font-family: 'Josefin Sans', sans-serif;
  hyphens: auto

}


.reveal .intro {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}


.reveal .plus {
	margin-top:20vh;
	text-align: center;
	width: 100%;
}

.reveal h1 {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
}

.reveal h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-color: black;
}

.reveal #intro {
	font-size: 30px;
}

.reveal .fragment.fade-in {
	margin-right : 10px;
	margin-left : 10px;
	font-size: 15px;
}

.reveal .temoignages {
	font-size: 15px;
	margin-right: 10px;
	margin-left: 10px;
}

.reveal .temoignages.left {
	font-size: 15px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: left;
}

.reveal .temoignages.right {
	font-size: 15px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: right;
}

.reveal .signature {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12px;
	font-style: bold;
}

.reveal .fragment {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-style: bold;
	margin-right: 10px;
	margin-left: 10px;
}

.reveal b {
	font-weight: normal;
	background-color: black;
	color: white;
}